._1h4z{margin:12px 0 0 18px}
.sp_VEXQ1KZQpP1{background-image:url(/rsrc.php/v3/yd/r/ocILRIFBSF3.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:8px;width:8px}.sp_VEXQ1KZQpP1.sx_d3e428{width:5px;height:3px;background-position:0 -9px}.sp_VEXQ1KZQpP1.sx_f9f004{background-position:-8px 0}.selected .sp_VEXQ1KZQpP1.sx_f9f004{background-position:0 0}

#bootloader_Qr3F3{height:42px;}.bootloader_Qr3F3{display:block!important;}