._3pey{margin-top:10px}._3pez{line-height:40px}
.sp_CKCadOmMbvM{background-image:url(/rsrc.php/v3/yG/r/-5Rtrp_k9ZL.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:22px;width:17px}.sp_CKCadOmMbvM.sx_43f18b{width:16px;height:16px;background-position:0 -23px}.sp_CKCadOmMbvM.sx_698543{background-position:0 0}

#bootloader_Ih0sf{height:42px;}.bootloader_Ih0sf{display:block!important;}