
.sp_eTw0uURvmC6{background-image:url(/rsrc.php/v3/yl/r/GPH_pEpTr20.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_eTw0uURvmC6.sx_b42503{background-position:0 0}.sp_eTw0uURvmC6.sx_1385b0{background-position:0 -21px}.sp_eTw0uURvmC6.sx_24afa4{background-position:0 -42px}

#bootloader_Cr7jI{height:42px;}.bootloader_Cr7jI{display:block!important;}